<!doctype html>
<html lang="en">
<head><title>
    菠萝 (BOL) Token Tracker
</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="Description" content="The Ethereum BlockChain Explorer, API and Analytics Platform"/>
    <meta name="author" content="etherscan.io"/>
    <meta name="keywords" content="ethereum, explorer, ether, search, blockchain, crypto, currency"/>
    <meta name="format-detection" content="telephone=no"/>
    <script src="/cdn-cgi/apps/head/M2jbC5w-2kzKWSY9kfVDccG4Ox8.js"></script>
    <script type="text/javascript" src="/assets/plugins/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/jss/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="/assets/css/pages/page_search_inner.css">
    <script type="text/javascript" src="/jss/qrcode.min.js"></script>
    <meta name="X-FRAME-OPTIONS" content="ALLOW-FROM"/>
    <style>
        .tooltip.top .tooltip-inner {
            min-width: 50px;
            max-width: 380px;
            background-color: #626567;
            padding: 8px;
            font-size: 11px;
            border-radius: 4px !important;
            word-wrap: break-word;
        }

        .repStyle {
            font-size: 13px;
            font-family: Arial, Helvetica, sans-serif;
            color: #B3B6B7;
            line-height: 15.4px;
        }

        #overlayMain {
            background: #ffffff;
            background: rgba(255, 255, 255, .4);
            color: #666666;
            position: fixed;
            height: 100%;
            width: 100%;
            z-index: 5000;
            top: 0;
            left: 0;
            float: left;
            text-align: center;
            padding-top: 20%;
            display: block;
        }

        .tditem {
            white-space: nowrap;
            overflow: hidden;
            max-width: 1px;
            width: 80%;
            text-overflow: ellipsis;
        }

        @media (max-width: 480px) {
            .hidden-su-xs {
                display: none !important;
            }
        }

        @media (min-width: 481px) {
            .visible-su-xs {
                display: none;
            }
        }

    </style>
    <link rel="shortcut icon" href="/images/favicon2.ico"/>
    <link rel="stylesheet" type="text/css"
          href="//fonts.googleapis.com/css?family=Open+Sans:400,300,600&amp;subset=cyrillic,latin"/>
    <link rel="stylesheet" href="/assets/plugins/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/assets/css/style-mod.css"/>
    <link rel="stylesheet" href="/assets/custom-head-foot-scroll-blue.css?v=0.04"/>
    <link rel="stylesheet" href="/assets/plugins/line-icons/line-icons.css"/>
    <link rel="stylesheet" href="/assets/plugins/font-awesome/css/font-awesome.min.css"/>
</head>
<body>
<div class="wrapper">
    <div class="header">
        <div class="container">
            <a class="logo" href="/" target="_parent" title="Home Page">
                <img id="logo-header" src="/images/EtherscanLogo-transparent-b-small.png" alt="Logo"
                     style="margin-top: 16px; margin-bottom: 14px; margin-left: -6px">
            </a>
            <div class="topbar hidden-xs hidden-sm ">
                <form action="/search" method="GET" autocomplete="off" spellcheck="false">
                    <ul class="loginbar pull-right">
                        <li><a href="/login" title="Click to Login"> LOGIN</a> <i class="fa  fa-male"></i> &nbsp;&nbsp;
                        </li>
                        <li>
                            <div style="display: inline;">
                                <input id="txtSearchInput" type="text" class="form-control-custom"
                                       placeholder="Search by Address / Txhash / Block / Token / Ens" name="q"
                                       maxlength="66" style="width: 330px; height: 31px;">
                                <span class="" style="display: inline">
<button class="btn-u" type="submit"
        style="padding: 3px 6px 3px 6px; height: 32px; width: 41px; margin-left: -5px; margin-top: 3px;">GO</button>
</span>
                            </div>
                        </li>
                    </ul>
                </form>

            </div>

            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target=".navbar-responsive-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="fa fa-bars"></span>
            </button>

        </div>

        <div class="collapse navbar-collapse mega-menu navbar-responsive-collapse">
            <div class="container">
                <ul class="nav navbar-nav">

                    <li id="LI_default">
                        <a href="/">Home </a>
                    </li>
                    <li id="LI_blockchain" class="dropdown">
                        <a href="#" class="" data-toggle="dropdown">
                            &nbsp;Blockchain
                        </a>
                        <ul class="dropdown-menu">
                            <li id="LI12"><a href="/txs"><i class="fa fa-list-alt"></i>&nbsp;View Txns</a></li>
                            <li id="LI16"><a href="/txsPending"><i class="fa fa-tasks "></i>&nbsp;View Pending Txns</a>
                            </li>
                            <li id="LI14"><a href="/txsInternal"><i class="fa fa-puzzle-piece"></i>&nbsp;View Contract
                                Internal Txns</a></li>
                            <li class="divider"></li>
                            <li id="LI_blocks2" class="dropdown-submenu"><a href="/blocks"><i class="fa fa-cubes"></i>&nbsp;View
                                Blocks</a>
                                <ul class="dropdown-menu">
                                    <li><a href="/blocks_forked"
                                           title="Invalid blocks from block chain reorganizations">FORKED Blocks
                                        (Reorgs)</a></li>
                                </ul>
                            </li>
                            <li id="LI8"><a href="/uncles"><i class="fa fa-cube"></i>&nbsp;View Uncles</a></li>
                            <li class="divider"></li>
                            <li id="LI_accountall"><a href="/accounts" title="Normal & Contract Accounts"><i
                                    class="fa fa-building"></i>&nbsp;Top Accounts</a></li>
                            <li id="LI_contract_verified"><a href="/contractsVerified"
                                                             title="Contracts with Verified Source Code"><i
                                    class="fa fa-check-circle-o"></i>&nbsp;Verified Contracts</a></li>
                        </ul>
                    </li>
                    <li id="LI_tokens" class="dropdown active">
                        <a href="#" class="" data-toggle="dropdown">&nbsp;Tokens
                        </a>
                        <ul class="dropdown-menu">
                            <li id="LI21"><a href="/tokens" title="List of ERC-20 Tokens"><i
                                    class="fa fa-certificate"></i>&nbsp;ERC-20 Top Tokens</a></li>
                            <li id="LI1"><a href="/tokentxns"><i class="fa fa-bars"></i>&nbsp;View ERC-20 Transfers</a>
                            </li>
                            <li class="divider"></li>
                            <li id="LI42"><a href="/tokens-nft" title="List of ERC-721 (Non-Fungible) Tokens"><i
                                    class="fa fa-ticket"></i>&nbsp;ERC-721 Top Tokens</a></li>
                            <li id="LI40"><a href="/tokentxns-nft"><i class="fa fa-bars"></i>&nbsp;View ERC-721
                                Transfers</a></li>
                        </ul>
                    </li>
                    <li id="LI_resources" class="dropdown">
                        <a href="#" class="" data-toggle="dropdown">&nbsp;RESOURCES</a>
                        <ul class="dropdown-menu">
                            <li id="LI43"><a href="/directory" title="Ethereum Directory"><i class="fa fa-book"></i>&nbsp;Ethereum
                                Directory</a></li>
                            <li id="LI_charts2"><a href="/charts" title="Charts and Statistics"><i
                                    class="fa fa-bar-chart-o"></i>&nbsp;Charts and Stats</a></li>
                            <li id="LI_chartbi"><a href="/chartinteractive" title="Interactive Charts and Stats"><i
                                    class="fa fa-line-chart"></i>&nbsp;Interactive Chart and Stats</a></li>
                        </ul>
                    </li>
                    <li id="LI_services2" class="dropdown mega-menu-fullwidth">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">&nbsp;MORE
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <div class="mega-menu-content disable-icons">
                                    <div class="container">
                                        <div class="row equal-height">
                                            <div class="col-md-3 equal-height-in">
                                                <ul class="list-unstyled equal-height-list">
                                                    <li>
                                                        <h3>DEVELOPERS</h3>
                                                    </li>
                                                    <li id="LI6"><a href="/apis"><i class="fa fa-cogs"></i>APIs</a></li>
                                                    <li id="LI17"><a href="/verifyContract"
                                                                     title="Verify and Publish your contract source code"><i
                                                            class="fa fa-code"></i>Verify Contract</a></li>
                                                    <li id="LI24"><a href="/opcode-tool"
                                                                     title="ByteCode to Opcode Converter"><i
                                                            class="fa  fa-ellipsis-h"></i>Byte To Opcode</a></li>
                                                    <li id="LI10"><a href="/pushTx"><i class="fa fa-pied-piper-alt"></i>Broadcast
                                                        TXN</a></li>
                                                </ul>
                                            </div>
                                            <div class="col-md-3 equal-height-in">
                                                <ul class="list-unstyled equal-height-list">
                                                    <li>
                                                        <h3>SWARM &amp; ENS</h3>
                                                    </li>
                                                    <li id="LI25"><a href="/swarm" title="Swarm Search"><i
                                                            class="fa fa-search-plus"></i>Swarm Search</a></li>
                                                    <li id="LI30"><a href="/swarmupload" title="Swarm Upload"><i
                                                            class="fa fa-cloud-upload"></i>Swarm Upload</a></li>
                                                    <li id="LI22"><a href="/ens" title="Ethereum Name Service Events"><i
                                                            class="fa fa-bars"></i>ENS Events</a></li>
                                                    <li id="LI26"><a href="/enslookup"
                                                                     title="Ethereum Name Service Lookup"><i
                                                            class="fa fa-search-plus"></i>ENS Lookup</a></li>
                                                </ul>
                                            </div>
                                            <div class="col-md-3 equal-height-in">
                                                <ul class="list-unstyled equal-height-list">
                                                    <li>
                                                        <h3>Service Trackers</h3>
                                                    </li>
                                                    <li id="LI4"><a href="/dextracker" title="Ethereum Dex Tracker"><i
                                                            class="fa fa-exchange"></i>DEX Tracker</a></li>
                                                    <li id="LI7"><a href="/orderbooks" title="Ethereum Dex Order Books"><i
                                                            class="fa fa-exchange"></i>DEX OrderBooks</a></li>
                                                    <li id="LI19"><a href="/gastracker" title="Ethereum Gas Tracker"><i
                                                            class="fa fa-tachometer"></i>GAS Tracker</a></li>
                                                </ul>
                                            </div>
                                            <div class="col-md-3 equal-height-in">
                                                <ul class="list-unstyled equal-height-list">
                                                    <li>
                                                        <h3>MISC </h3>
                                                    </li>
                                                    <li id="LI5"><a href="/ether-mining-calculator"><i
                                                            class="fa fa-gavel"></i>Mining Calculator</a></li>
                                                    <li id="LI29"><a href="/verifiedSignatures"
                                                                     title="List Of Verified Message Signatures"><i
                                                            class="fa fa-code"></i>Verified Signatures</a></li>
                                                    <li id="LI2"><a href="/find-similiar-contracts"
                                                                    title="Find other contracts that have the same/similiar contract codes"><i
                                                            class="fa fa-search-plus"></i>Similiar Contracts</a></li>
                                                    <li id="LI41"><a href="/labelcloud" title="Label Tags Word Cloud"><i
                                                            class="fa fa-cloud"></i>Label WordCloud</a></li>
                                                </ul>
                                            </div>
                                            <div class="col-md-3 equal-height-in">
                                                <ul class="list-unstyled equal-height-list">
                                                    <li>
                                                        <h3>Other Explorers</h3>
                                                    </li>
                                                    <li id="LI28"><a href="https://ropsten.etherscan.io" target="_blank"
                                                                     title="Ropsten (Revived) TESTNET BlockExplorer"><i
                                                            class="fa fa-external-link"></i>Testnet (Ropsten)</a></li>
                                                    <li id="LI31"><a href="https://kovan.etherscan.io" target="_blank"
                                                                     title="Kovan (Poa) TESTNET BlockExplorer"><i
                                                            class="fa fa-external-link"></i>Testnet (Kovan)</a></li>
                                                    <li id="LI32"><a href="https://rinkeby.etherscan.io" target="_blank"
                                                                     title="Rinkeby (Poa) TESTNET BlockExplorer"><i
                                                            class="fa fa-external-link"></i>Testnet (Rinkeby)</a></li>
                                                    <li id="LI33"><a href="https://tobalaba.etherscan.com"
                                                                     target="_blank"
                                                                     title="Tobalaba (EWF) BlockExplorer"><i
                                                            class="fa fa fa-external-link"></i>Tobalaba (EWF)</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li id="LI_login" class="hidden-lg hidden-md ">
                        <a href="/login" title="Login Now">&nbsp;Login</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>


    <div class="container left hidden-lg hidden-md" id="divmobilesearch"
         style="margin-top: 5px; margin-bottom: -18px; padding-right: 20px; padding-left: 20px;">
        <form action="/search" method="GET">
            <input id="txtSearchInputMobile" type="text" placeholder="Search for Account, Tx Hash or Data"
                   class="form-control" style="text-align: center;" name="q" maxlength="66"
                   title="Address, Contract, Txn Hash or Data"/>
        </form>
        <br/><br/>
    </div>


    <script>
        function resizeIframe(obj, addwidth) {
            //console.log("resizeIframe");
            //setTimeout(function () {
            obj.style.height = 0
            var scrollheight = obj.contentWindow.document.body.scrollHeight;
            obj.style.height = (scrollheight + addwidth) + 'px';
            //}, 0);            
        }
    </script>

    <div class="breadcrumbs" style="margin-bottom: 20px">
        <div class="container">
            <h1 class="etitle pull-left">&nbsp;
                <i class='fa fa-empire'></i>TOKEN
                &nbsp;<span class="lead-modify" style="color: #999999" id="address">菠萝 <font color='#0B99CA'><i
                        class='fa fa-info-circle' rel='tooltip' data-placement='right'
                        title='Public Note: Double check the Token Contract Address to verify that you are interacting with the intended Token contract'></i></font></span>
                <br/>
            </h1>
            <ul class="pull-right breadcrumb">
                <li><a href="/">Home</a></li>
                <li><a href='/tokens'>ERC-20 TokenTracker</a></li>
                <li class="active">菠萝</li>
            </ul>
        </div>
    </div>

    <div id="overlayMain">
    </div>

    <div class="container">
<span id="ContentPlaceHolder1_lblAdResult"><div style='margin-top:6px; margin-bottom:22px'><span class='hidden-xs'>&nbsp;&nbsp;</span>
<ins data-revive-zoneid="2" data-revive-id="9c49f003f4e3f6dcb864ae3d24ed4ca2"></ins>
<script async src="//advert.etherscan.io/www/delivery/asyncjs.php"></script></div></span>
        <div id="ContentPlaceHolder1_divSummary" class="row">
            <div class="col-md-6">
                <table class="table">
                    <thead>
                    <tr>
                        <th colspan="2">
                            Summary <font color='silver'>[ERC-20]</font>
                        </th>
                    </tr>
                    </thead>
                    <tr>
                        <td><span title='Total Supply' style='white-space: nowrap;'>Total Supply:</span>
                        </td>
                        <td class="tditem">
                            600,000,000 BOL
                        </td>
                    </tr>
                    <tr id="ContentPlaceHolder1_tr_tokenHolders">
                        <td>Holders:
                        </td>
                        <td>
                            2121 addresses
                        </td>
                    </tr>
                    <tr id="ContentPlaceHolder1_trNoOfTxns">
                        <td>Transfers:&nbsp;
                        </td>
                        <td>
                            <span id='totaltxns'>-</span>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-md-6" style="margin-bottom: -3px">
                <table class="table">
                    <thead>
                    <tr>
                        <th></th>
                        <td style="border-top-style: none">
                            <span class='pull-right repStyle'>Rep <a
                                    href='https://etherscancom.freshdesk.com/support/solutions/articles/35000022146-etherscan-token-reputation-system'
                                    target='_blank' title='Click for more info'><font color='gray'>UNKNOWN <i
                                    class='fa fa-info-circle'></i></font></a></span>
                        </td>
                    </tr>
                    </thead>
                    <tr id="ContentPlaceHolder1_trContract">
                        <td>
                            Contract:
                        </td>
                        <td class="tditem">
                            <a href='/address/0x1416584ED529cE5D0a96Cd13792cf5De3F595F8A'>0x1416584ED529cE5D0a96Cd13792cf5De3F595F8A</a>
                        </td>
                    </tr>
                    <tr id="ContentPlaceHolder1_trDecimals">
                        <td>Decimals:&nbsp;
                        </td>
                        <td>
                            8
                        </td>
                    </tr>
                    <tr id="ContentPlaceHolder1_tr_officialsite_2" class="hidden-su-xs">
                        <td>Links:
                        </td>
                        <td>
                            Not Available, <a href='/contactus?id=4&a=0x1416584ED529cE5D0a96Cd13792cf5De3F595F8A'
                                              title='Are you the contract owner?&#013;Update the Token Information'>Update</a>
                            ?
                        </td>
                    </tr>
                    <tr>
                        <td>Filter By:
                        </td>
                        <td>
                            <form action="" method="get" autocomplete="off">
                                <div id="ContentPlaceHolder1_searchdiv" style="display: inline;white-space: nowrap;">
                                    <input type="text" class="form-control-custom" placeholder="Enter Address / TxHash"
                                           name="a" maxlength="66" style="width:210px">
                                    <span style="display: inline" class="hidden-su-xs">
<button class="btn-u btn-u-default" type="submit"
        style="padding: 2px 5px 2px 5px; height: 29px; width: 45px; margin-left: -5px; margin-top: -4px;"
        title="Only show token records for this address" onclick="javascript:updatehash('');">Apply</button>
</span>
                                </div>
                            </form>
                            <span class="visible-su-xs"><br/><br/></span>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div id="ContentPlaceHolder1_maintab" class="tab-v2">
            <ul class="nav nav-tabs" id='nav_tabs'>
                <li class="active" id="li_transactions"><a href="#transactions" data-toggle="tab"
                                                           onclick="javascript:if (updatehash('')){loadIframeSource3()}">Transfers</a>
                </li>
                <li id="ContentPlaceHolder1_li_balances"><a href="#balances" data-toggle="tab"
                                                            onclick="javascript:if (updatehash('balances')){loadIframeSource2()}"
                                                            title='Balances Sorted in Descending order'>Holders</a></li>
                <li id="ContentPlaceHolder1_li_tokenInfoTab"><a href="#tokenInfo" data-toggle="tab"
                                                                onclick="javascript:updatehash('tokenInfo');"
                                                                title='Token General Info'>Info</a></li>
                <li id="ContentPlaceHolder1_li_readContract"><a href="#readContract" data-toggle="tab"
                                                                onclick="javascript:updatehash('readContract');loadIframeSource();"
                                                                title='Read Smart Contract Information'>Read <span
                        class="hidden-su-xs">Contract</span></a></li>
                <li id="ContentPlaceHolder1_li_writeContract"><a href="#writeContract" data-toggle="tab"
                                                                 onclick="javascript:updatehash('writeContract');loadIframeSource5();"
                                                                 title='Write Smart Contract'>Write <span
                        class="hidden-su-xs">Contract</span> <sup>&nbsp;<font color='black'>Beta</font></sup></a></li>
                <li id="ContentPlaceHolder1_li_disqus"><a href="#comments" data-toggle="tab"
                                                          onclick="javascript:loaddisqus();"><span
                        class="disqus-comment-count"
                        data-disqus-identifier="Etherscan_0x1416584ed529ce5d0a96cd13792cf5de3f595f8a_Token_Comments">Comments</span></a>
                </li>
            </ul>

            <div class="tab-content" style="padding: 1px 0;">
                <div class="tab-pane fade in active" id="transactions" style="margin-bottom: -20px">
                    <div class="panel panel-info" style="border:none">
                        <div>
<span id="loadingtxframe">
<div id="overlay" align="center">
<br/>
<br/>
<img src="/images/ajax-loader2.gif" alt="Loading"/><br/>
<br/>
... loading, please wait ...
<br/>
<br/>
</div>
</span>
                            <div class="panel-body table-responsive"
                                 style="overflow: auto; -webkit-overflow-scrolling: touch">
                                <iframe width="100%" id="tokentxnsiframe" src="" frameborder="0"
                                        scrolling="yes"></iframe>
                            </div>
                        </div>
                        <span class='pull-right' style='margin-top:20px' title='Export records in CSV format'><font
                                size=1>[ Download <a
                                href='/exportData?type=tokentxns&contract=0x1416584ED529cE5D0a96Cd13792cf5De3F595F8A&a=&decimal=8'
                                target='_blank'><b>CSV Export</b></a>&nbsp;<span
                                class='glyphicon glyphicon-download-alt'></span> ]</font>&nbsp;</span>
                    </div>
                </div>
                <div class="tab-pane fade in" id="balances" style="margin-bottom: -30px">
                    <div class="panel panel-info" style="border:none">
                        <div>
<span id="loadingtxframe2">
<div id="overlay2" align="center">
<br/>
<br/>
<img src="/images/ajax-loader2.gif" alt="Loading"/><br/>
<br/>
... loading, please wait ...
<br/>
<br/>
</div>
</span>
                            <div class="panel-body table-responsive"
                                 style="overflow: auto; -webkit-overflow-scrolling: touch">
                                <iframe width="100%" id="tokeholdersiframe" src="" frameborder="0"
                                        scrolling="yes"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade in" id="inventory" style="margin-bottom: -30px">
                    <div class="panel panel-info" style="border:none">
                        <div>
<span id="loadingtxframe6">
</span>
                            <div class="panel-body table-responsive"
                                 style="overflow: auto; -webkit-overflow-scrolling: touch">
                                <iframe width="100%" id="tokenerc721_inventory_pageiframe" src="" frameborder="0"
                                        scrolling="yes"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade in" id="tokenInfo" style="margin-bottom: -20px">
                    <div class="panel panel-info" style="border:none">
                        <div class="panel-body">
                            <br>Click <a href='/contactus?id=6&a=0x1416584ED529cE5D0a96Cd13792cf5De3F595F8A'>Here to
                            update</a> the Token ICO / General Information <br><br>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade in" id="tokenChart" style="margin-bottom: -20px">
                    <div class="panel panel-info" style="border:none">
<span id="loadingtxframe3">
<div id="overlay3" align="center">
<br/>
<br/>
<img src="/images/ajax-loader2.gif" alt="Loading"/><br/>
<br/>
... loading, please wait ...
<br/>
<br/>
</div>
</span>
                        <div>
                            <div class="panel-body table-responsive"
                                 style="overflow: auto; -webkit-overflow-scrolling: touch">
                                <iframe width="100%" id="tokenchartiframe" src="" frameborder="0"
                                        scrolling="yes"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade in" id="tokenExchange" style="margin-bottom: -20px">
                    <div class="panel panel-info" style="border:none">
                        <div class="panel-body">
                            <div class="table-responsive" style="border-color:white">
                                <table class="table table-hover" border='0' cellpadding='0' cellspacing='0'>
                                    <thead>
                                    <tr style="border-color: #E1E1E1; border-width: 1px; background-color: #F9F9F9; border-top-style: solid;">
                                        <th>#</th>
                                        <th>Exchange</th>
                                        <th>Pair</th>
                                        <th>Price</th>
                                        <th title="Sorted by 24H Volume from highest to lowest"><b><i
                                                class="fa fa-angle-down" style="color:gray"></i></b>&nbsp;24H Volume
                                        </th>
                                        <th>% Volume</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                            <br/><span class='pull-right'><font size=1'>Exchange Data Source: <a
                                href='https://www.coingecko.com/en' target='_blank' ref='nofollow nopener'>Coingecko</a></font>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade in" id="readContract" style="margin-bottom: -20px">
                    <div class="panel panel-info" style="border:none">
                        <div>
                            <div class="panel-body table-responsive"
                                 style="overflow: auto; -webkit-overflow-scrolling: touch">
                                <iframe width="100%" id="readcontractiframe" src="" frameborder="0"
                                        scrolling="yes"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade in" id="writeContract" style="margin-bottom: -20px">
                    <div class="panel panel-info" style="border:none">
                        <div>
                            <div class="panel-body table-responsive"
                                 style="overflow: auto; -webkit-overflow-scrolling: touch">
                                <iframe width="100%" id="writecontractiframe" src="" frameborder="0"
                                        scrolling="yes"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade in" id="comments" style="margin-bottom: -20px">
                    <div class="panel panel-info" style="border:none">
                        <div class="panel-body">
                            <div>
                                <div id="disqus_thread"></div>
                                <script type="text/javascript">
                                    var disqus_shortname = 'Etherscan';
                                    var disqus_identifier = 'Etherscan_0x1416584ed529ce5d0a96cd13792cf5de3f595f8a_Token_Comments';
                                    var disqus_title = '0x1416584ed529ce5d0a96cd13792cf5de3f595f8a Token';
                                    var disqus_url = 'https://etherscan.io/token/0x1416584ed529ce5d0a96cd13792cf5de3f595f8a#disqus';
                                </script>
                                <noscript>Please enable JavaScript to view the <a
                                        href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by
                                    Disqus.</a></noscript>
                                <script id="dsq-count-scr" src="//etherscan.disqus.com/count.js" async></script>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br/><br/>
        </div>
        <br/>
        <br/>
    </div>
    <script type="text/javascript">
        $(function () {
            $("[rel='tooltip']").tooltip({html: true});
        });
    </script>
    <script type="text/javascript">

        window.isBackButton = false;
        window.isFrTxns = false;
        window.isFrHold = false;
        window.isFrReadC = false;
        window.isFrWriteC = false;
        window.isFrInventory = false;

        window.token_holders_loaded = false;
        window.token_transactions_loaded = false;
        window.tokenChartLoaded = false;
        window.writeContractLoaded = false;
        window.token_inventory_loaded = false;

        if (!!window.performance && window.performance.navigation.type === 2) {
            window.isFrTxns = true;
            window.isFrHold = true;
            window.isFrChart = true;
            window.isFrReadC = true;
            window.isFrWriteC = true;
            window.isFrInventory = false;
            window.isBackButton = true;
        }
        ;
        //console.log("window.isBackButton = " + window.isBackButton);
        var hash = window.location.hash.substring(1);
        $(document).ready(function () {
            if (hash != '') {
                activaTab(hash);
            } else {
                loadIframeSource3();
            }
            ;
        });
        function activaTab(tab) {
            if (tab.indexOf('comment') >= 0) {
                tab = 'comments';
                loaddisqus();
                window.parent.document.getElementById('overlayMain').style.display = 'none';
            } else if (tab.indexOf('readContract') >= 0) {
                loadIframeSource();
                window.parent.document.getElementById('overlayMain').style.display = 'none';
            } else if (tab.indexOf('balances') >= 0) {
                loadIframeSource2();
            } else if (tab.indexOf('tokenChart') >= 0) {
                loadIframeSource4();
            } else if (tab.indexOf('writeContract') >= 0) {
                loadIframeSource5();
                window.parent.document.getElementById('overlayMain').style.display = 'none';
            } else if (tab.indexOf('inventory') >= 0) {
                loadIframeSource6();
            } else {
                window.parent.document.getElementById('overlayMain').style.display = 'none';
            }
            ;
            $('.nav-tabs a[href="#' + tab + '"]').tab('show');
        };
        function updatehash(strhash) {
            if (strhash == '') {
                var baseUrl = window.location.href.split('#')[0];
                //history.replaceState("", document.title, window.location.pathname);
                history.replaceState("", document.title, baseUrl);
            } else {
                var baseUrl = window.location.href.split('#')[0];
                history.replaceState("", document.title, baseUrl + '#' + strhash);
            }
            ;
            return true;
        }
        var disqusloaded = false;
        function loaddisqus() {
            if (disqusloaded == false) {
                var dsq = document.createElement('script');
                dsq.type = 'text/javascript';
                dsq.async = true;
                dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                disqusloaded = true;
            }
            updatehash('comments');
        }
        var readContractLoaded = false;
        function loadIframeSource() {
            if (readContractLoaded == false) {
                readContractLoaded = true;
                document.getElementById('readcontractiframe').src = '/readContract?a=0x1416584ED529cE5D0a96Cd13792cf5De3F595F8A&v=';
            } else {
                if (window.isBackButton == true && window.isFrReadC == true) {
                    console.log("frame force reload");
                    readcontractiframe.contentWindow.location.reload(true);
                    window.isFrReadC = false;
                }
                ;
            }
            ;
        }
        function loadIframeSource2() {
            if (window.token_holders_loaded == false) {
                document.getElementById('overlayMain').style.display = 'block';
                document.getElementById('tokeholdersiframe').src = '/token/generic-tokenholders2?a=0x1416584ED529cE5D0a96Cd13792cf5De3F595F8A&s=60000000000000000';
            } else {
                if (window.isBackButton == true && window.isFrHold == true) {
                    console.log("frame force reload");
                    tokeholdersiframe.contentWindow.location.reload(true);
                    window.isFrHold = false;
                }
                ;
            }
            ;
        }
        function loadIframeSource3() {
            if (window.token_transactions_loaded == false) {
                document.getElementById('overlayMain').style.display = 'block';
                document.getElementById('tokentxnsiframe').src = '/token/generic-tokentxns2?contractAddress=0x1416584ED529cE5D0a96Cd13792cf5De3F595F8A&a=';
            } else {
                if (window.isBackButton == true && window.isFrTxns == true) {
                    console.log("frame force reload");
                    tokentxnsiframe.contentWindow.location.reload(true);
                    window.isFrTxns = false;
                }
                ;
            }
            ;
        }
        function loadIframeSource4() {
            if (window.tokenChartLoaded == false) {
                document.getElementById('overlayMain').style.display = 'block';
                document.getElementById('tokenchartiframe').src = '/token/tokenchart?contractAddress=0x1416584ED529cE5D0a96Cd13792cf5De3F595F8A';
            } else {
                if (window.isBackButton == true && window.isFrChart == true) {
                    console.log("frame force reload");
                    tokenchartiframe.contentWindow.location.reload(true);
                    window.isFrChart = false;
                }
                ;
            }
            ;
        }
        function loadIframeSource5() {
            if (window.writeContractLoaded == false) {
                document.getElementById('overlayMain').style.display = 'block';
                var src = '/writecontract.html?a=0x1416584ED529cE5D0a96Cd13792cf5De3F595F8A&n=mainnet';
                document.getElementById('writecontractiframe').src = src;
            } else {
                if (window.isBackButton == true && window.isFrWriteC == true) {
                    console.log("frame force reload");
                    writecontractiframe.contentWindow.location.reload(true);
                    window.isFrWriteC = false;
                }
                ;
            }
            ;
        }
        function loadIframeSource6() {
            if (window.token_inventory_loaded == false) {
                document.getElementById('overlayMain').style.display = 'block';
                document.getElementById('tokenerc721_inventory_pageiframe').src = '/token/generic-tokenholder-inventory?contractAddress=0x1416584ED529cE5D0a96Cd13792cf5De3F595F8A&a=';
            } else {
                if (window.isBackButton == true && window.isFrInventory == true) {
                    console.log("frame force reload");
                    tokenerc721_inventory_pageiframe.contentWindow.location.reload(true);
                    window.isFrInventory = false;
                }
                ;
            }
            ;
        }
    </script>
    <div id="push"></div>

</div>
<div class="footer-v1">
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-3 map-img md-margin-bottom-40">
                    <a href="http://www.ethereum.org" target="_blank" rel="nofollow">
                        <img id="logo-footer" class="footer-logo" src="/images/Powered-by-Ethereum-small.png"
                             alt=""></a>
                    <p style="font-family:'Open Sans',sans-serif; font-size: 12px; color: #C0C0C0;">Etherscan is a Block
                        Explorer and Analytics Platform for Ethereum, a decentralized smart contracts platform.</p>
                </div>
                <div class="col-md-6 md-margin-bottom-40 hidden-xs">
                    <div class="headline">
                        <h2>Latest Discussions</h2>
                        <a href='/comments'><span class="pull-right" style="color: #C0C0C0; margin-top: 8px; ">[View More]</span></a>
                    </div>
                    <ul class="list-unstyled link-list">
                        <li><img src='/images/icons/comment-white.png'>&nbsp;&nbsp;<a
                                href='http://etherscan.io/address/0x0fa3202e9f247f9349352c4296d2bbd6c7fa11b4#comments'>So,
                            u all got hacked by this address participate airdrop...</a><i class="fa fa-angle-right"></i>
                        </li>
                        <li><img src='/images/icons/comment-white.png'>&nbsp;&nbsp;<a
                                href='http://etherscan.io/address/0x2c389a86a686ac7ee98ac2606802b5bb4a2186c1#comments'>God
                            did bless you!
                            0xc09ba4bfcd30eb8baabf0111ea7a0ab33f4...</a><i class="fa fa-angle-right"></i></li>
                        <li><img src='/images/icons/comment-white.png'>&nbsp;&nbsp;<a
                                href='http://etherscan.io/address/0x794328caef716a6abc9a4f426a5aa516a4d1a1a4#comments'>SCAM!
                            WATCHOUT https://etherscamdb.info</a><i class="fa fa-angle-right"></i></li>
                        <li><img src='/images/icons/comment-white.png'>&nbsp;&nbsp;<a
                                href='http://etherscan.io/address/0x2c389a86a686ac7ee98ac2606802b5bb4a2186c1#comments'>congratulations!
                            0x86d7533689569CDA696fcccB4aa1fA53087c...</a><i class="fa fa-angle-right"></i></li>
                    </ul>
                </div>
                <div class="col-md-3 md-margin-bottom-40">
                    <div class="headline">
                        <h2>Links</h2>
                    </div>
                    <address class="md-margin-bottom-40">
                        <table>
                            <tr>
                                <td><i class="fa fa-envelope"></i>&nbsp;</td>
                                <td>&nbsp;<a href="/contactus">Contact Us</a></td>
                            </tr>
                            <tr>
                                <td><i class="fa fa-reddit-square"></i></td>
                                <td>&nbsp;<a href="https://www.reddit.com/r/etherscan/" target="_blank">Forum</a></td>
                            </tr>
                            <tr>
                                <td><i class="fa fa-twitter"></i></td>
                                <td>&nbsp;<a href="https://twitter.com/etherscan" target="_blank">Twitter</a></td>
                            </tr>
                            <tr>
                                <td><i class="fa fa-pencil-square-o"></i></td>
                                <td>&nbsp;<a href="https://etherscancom.freshdesk.com/support/solutions"
                                             target="_blank">Knowledge Base</a></td>
                            </tr>
                            <tr>
                                <td><i class="fa  fa-users"></i></td>
                                <td>&nbsp;<a href="/aboutus">About Us</a></td>
                            </tr>
                            <tr>
                                <td><i class="fa  fa-file-text-o"></i></td>
                                <td>&nbsp;<a href="/terms">Terms of Service</a></td>
                            </tr>
                        </table>
                    </address>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <p style="font-family:'Open Sans',sans-serif; font-size: 11px; color: #C0C0C0;">Etherscan © 2018 (B)
                        |<a href="https://etherscan.io/contactus?id=3">Advertising</a>
                        | Donations <a href="https://etherscan.io/address/0x71c7656ec7ab88b098defb751b7401b5f6d8976f">0x71c7656ec7ab88b098defb751b7401b5f6d8976f</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="divcookie" class="navbar navbar-default navbar-fixed-bottom"
     style="display:none; background-color:#A6ACAF; opacity: 0.95; justify-content:space-between; align-items: center; flex-wrap:nowrap">
    <div class="container">
        <p class="navbar-text pull-left" style="color:white">This website <a
                href="https://etherscan.io/terms#cookiestatement" target="_blank"><font color='#3392FF'><b>uses cookies
            to improve your experience</b></font></a> and has an updated
            <a href="/privacyPolicy"><font color='#3392FF'><b>Privacy Policy</b></font></a>.
        </p>
    </div>
    <div class="container">
        <button id='btnCookie' style="border-color: rgb(0, 0, 0); border-width:1px" class="pull-right">Got It</button>
    </div>
</div>
<script type="text/javascript" src="/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/assets/combine-js-bottom.js?v=1.11"></script>
<script type="text/javascript">
    var cookieconsent = getCookie("etherscan_cookieconsent");
    if (cookieconsent != "True") {
        document.getElementById("divcookie").style.display = "flex";
    }
    ;
    function getCookie(cname) {
        var name = cname + "=";
        var ca = document.cookie.split(';');
        for (var i = 0; i < ca.length; i++) {
            var c = ca[i];
            while (c.charAt(0) == ' ') {
                c = c.substring(1);
            }
            if (c.indexOf(name) == 0) {
                return c.substring(name.length, c.length);
            }
        }
        return "";
    }
    $("#btnCookie").click(function () {
        $("#divcookie").fadeOut("slow", function () {
            var d = new Date();
            d.setTime(d.getTime() + (1095 * 24 * 60 * 60 * 1000));
            var expires = "expires=" + d.toUTCString();
            document.cookie = "etherscan_cookieconsent=True" + ";" + expires + ";path=/";
            ;
        });
    });
</script>
<link rel="Stylesheet" href="/css/jquery-ui.min.css" type="text/css"/>
</body>
</html>
